<div class="flex">
  <div class="container">
      <h2 class="subheader">Archivo del Blog</h2>
      <mat-accordion>

          <mat-expansion-panel>
      
              <mat-expansion-panel-header>
                <mat-panel-title>
                  2018
                </mat-panel-title>
                <mat-panel-description>
                  mi descripción
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list>
                  <a href="#" class="enlace-articulo"> 
                    <span>07/07/2018</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><b>Progresive Web App</b></span>
                  </a>
                  
               </mat-nav-list>
              
          </mat-expansion-panel>
      
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                2017
              </mat-panel-title>
              <mat-panel-description>
                 mi descripción
              </mat-panel-description>
            </mat-expansion-panel-header>
            
            <mat-nav-list>
                <a href="#" class="enlace-articulo"> 
                    <span>07/07/2018</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><b>Progresive Web App</b></span>
                  </a>
                
             </mat-nav-list>

          </mat-expansion-panel>
        </mat-accordion>
  </div>
</div>