<div class="flex">
  <div class="container">
      <h2 class="subheader">Archivo del Blog</h2>
      <mat-accordion *ngIf="!error">

          <mat-expansion-panel *ngFor="let info of archivo">
      
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{info._id}}
                </mat-panel-title>
                <mat-panel-description>
      
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-nav-list *ngFor="let article of info.articles">
                  <a href="{{article.link}}" class="enlace-articulo"> 
                    <span>{{article.date.day}}/{{article.date.month}}/{{article.date.year}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span><b>{{article.title}}</b></span>
                  </a>
                  
               </mat-nav-list>
              
          </mat-expansion-panel>
      
        </mat-accordion>

        <div *ngIf="error" style="text-align: center">
            <p>Error con el Servidor no se han podido obtener el Archivo del Blog. Vuelva en unos minutos</p>
      </div>
  </div>
</div>