<div class="container">
        <mat-toolbar id="myFooter" color="primary">
    
            <mat-toolbar-row class="container">
                  <div>
                        <p class="parrafo">
                            <span>Desarrollado por</span> &nbsp;
                            <span><b>Jose Manuel Delgado Trueba</b></span>&nbsp;
                            <span> © {{year}}.</span>
                        </p>
                        <ul class="redes-sociales">
                            <li><a href="https://twitter.com/delgadotrueba97"><img src="assets/img/twitter.png" /></a></li>
                            <!--
                                <li><a href="#"><img src="assets/img/facebook.png" /></a></li>
                            --> 
                            <li><a href="https://www.linkedin.com/in/delgadotrueba/"><img src="assets/img/linkedin.png" /></a></li> 
                            <!--
                                <li><a href="#"><img src="assets/img/instagram.png" /></a></li> 
                            -->
                        </ul>
                  </div>
            </mat-toolbar-row>
    
        </mat-toolbar>
    </div>