<div class="container">

    <header id="main-header">
        <div class=”media”>
            <img src="assets/img/delgadotrueba-1024x1024.png">
        </div>
        <div id="menu" fxShow.lt-lg="false" >
                <button mat-button (click)="medium()"><mat-icon>exit_to_app</mat-icon>&nbsp;MI BLOG EN MEDIUM</button>
                <button mat-button (click)="href('app-mostrador-articulos')">
                    <mat-icon>subject</mat-icon>&nbsp;ÚLTIMOS ARTÍCULOS
                </button>
                <button mat-button (click)="href('app-sobre-mi')">
                    <mat-icon>person_pin</mat-icon>&nbsp;SOBRE MÍ
                </button>
                <button mat-button (click)="href('app-todos-articulos')">
                    <mat-icon>folder</mat-icon>&nbsp;ARCHIVO DEL BLOG
                </button>
                <button mat-button (click)="href('app-todos-articulos')">
                        <mat-icon>book</mat-icon>&nbsp;PORFOLIO
                    </button>
                
        </div>
        <div id="button-menu" fxShow.gt-md="false" >
                <a (click)="onClick()"><mat-icon>menu</mat-icon></a>
        </div>
    </header>
    
    <div id="menu-flex" *ngIf="mostrar"  fxShow.gt-md="false">
            <button mat-button (click)="medium()"><mat-icon>exit_to_app</mat-icon>&nbsp;MI BLOG EN MEDIUM</button>
                <button mat-button (click)="href('app-mostrador-articulos')">
                    <mat-icon>subject</mat-icon>&nbsp;ÚLTIMOS ARTÍCULOS
                </button>
                <button mat-button (click)="href('app-sobre-mi')">
                    <mat-icon>person_pin</mat-icon>&nbsp;SOBRE MÍ
                </button>
                <button mat-button (click)="href('app-todos-articulos')">
                    <mat-icon>folder</mat-icon>&nbsp;ARCHIVO DEL BLOG
                </button>
                <button mat-button (click)="href('app-porfolio')">
                    <mat-icon>book</mat-icon>&nbsp;PORFOLIO
                </button>
    </div>

</div>