<div class="container">
  
  <div class="anchura">
  
      <h2 class="subheader">
        Últimos Artículos
      </h2>

      <div class="displayer">
          <mat-form-field>
              <mat-select placeholder="Filtrar por Etiquetas" [(value)]="selectValue" (selectionChange)="selectChange($event.value)">
                    <mat-option [value]="'All'">
                      All
                    </mat-option>
                  <mat-option *ngFor="let tag of tags" [value]="tag._id">
                      {{tag._id}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    
   
    <div class="articulos" *ngIf="!error && !articles">
            <mat-spinner></mat-spinner>
    </div>

   <div *ngIf="!error">
        <div class="articulos" *ngIf="!error">
                <div class="articulo" *ngFor="let article of articles">
                    <app-articulo [article]="article"></app-articulo>
                  </div>
        </div>
        <!--
        <div class="button">
                <button mat-raised-button color="primary" (click)="service()">Mostrar más</button>
        </div>
        -->
   </div>

    <div class="articulos" *ngIf="error">
            <p>Error con el Servidor no se han podido obtener los artículos. Vuelva en unos minutos</p>
    </div>

    

  </div>
</div>