<div class="container">
  
  <div class="anchura">
  
      <h2 class="subheader">
        Últimos Artículos
      </h2>

      <div class="displayer">
          <mat-form-field>
              <mat-select placeholder="Filtrar por Etiquetas">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{food.viewValue}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    
    <div class="articulos">
        <div class="articulo">
            <app-articulo></app-articulo>
          </div>
          <div class="articulo">
            <app-articulo></app-articulo>
          </div>
          <div class="articulo">
            <app-articulo></app-articulo>
          </div>
          <div class="articulo">
            <app-articulo></app-articulo>
          </div>
          <div class="articulo">
            <app-articulo></app-articulo>
          </div>
    </div>

    <div class="button">
        <button mat-raised-button color="primary">Mostrar más</button>
    </div>

  </div>
</div>