<div class="container">
  
  <div class="anchura">
  
      <h2 class="subheader">
        Últimos Artículos
      </h2>

      <div class="displayer">
          <mat-form-field>
              <mat-select placeholder="Filtrar por Etiquetas" [(value)]="selectValue">
                    <mat-option [value]="'todos'">
                            todos
                    </mat-option>
                  <mat-option *ngFor="let tag of tags" [value]="tag._id">
                      {{tag._id}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    
    <div class="articulos">
        <div class="articulo" *ngFor="let article of articles">
            <app-articulo [article]="article"></app-articulo>
          </div>
    </div>

    <div class="button">
        <button mat-raised-button color="primary" (click)="service()">Mostrar más</button>
    </div>

  </div>
</div>