<mat-toolbar color="primary">
    <div>
        <h2 class="parrafo">
            <span>¡Bienvenido</span>&nbsp;
            <span>a</span>&nbsp;
            <span>mi</span>&nbsp;
            <span>pagina</span>&nbsp;
            <span>web!</span>
        </h2>
        <!--
            <h2>
                <span
                    class="txt-rotate"
                    data-period="2000"
                    data-rotate='[ "Esfuerzo", "v" ]'>
                </span>
            </h2>
        -->
    </div>
</mat-toolbar>
