<mat-toolbar color="primary">
    <div>
        
        <h2 class="parrafo">
            <span>¡Bienvenido</span>&nbsp;
            <span>a</span>&nbsp;
            <span>mi</span>&nbsp;
            <span>página</span>&nbsp;
            <span>web!</span>
        </h2>
        
        <h2 class="parrafo">
            <span
                class="txt-rotate"
                data-period="2000"
                data-rotate='[ "Descubre.", "Aprende.", "Comparte." ]'>
            </span>
        </h2>

    </div>
</mat-toolbar>
