mat-toolbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;
}

 h2{
    font-size: 5vw;
    color: white;
    text-shadow: 0px 0px 6px black;
}

.parrafo{
    text-align: center;
    margin: 0px;

    line-height: 200%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 450px){  
       
    h2{
        font-size:  1em;
    }

    mat-toolbar{   
        height: 200px;
    }
}

@media (max-width: 350px){  
    mat-toolbar{   
        height: 150px;
    }
}