<mat-card class="example-card">
    <img mat-card-image src="https://webtraining.zone/img/metadata-courses/curso-profesional-angular-6.jpg" alt="Photo of a Shiba Inu">
    <mat-card-title>
      <p><b>{{article.title}}</b></p>
    </mat-card-title>
    
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button mat-button (click)="onClick()">LEER &nbsp;<mat-icon>label_important</mat-icon></button>
    </mat-card-actions>
  </mat-card>