<div class="flex">

    <div class="container">
            <h2 class="subheader">Sobre mí</h2>

        <div class="column">
                <div class="columns">
                        <div class="texto">

                                        <p class="intro">
                                                Buenas! Mi nombre es <b>Jose Manuel</b>, soy un apasionado de la informatica,
                                                y
                                                pienso que compartir artículos o tutoriales con los demás es una gran herramienta para poder
                                                seguir aprendiendo.
                                        </p>

                                        <p>
                                                Soy estudiante en el grado 
                                                <a href="https://www.etsisi.upm.es">
                                                Ingenería del Software en la UPM
                                                </a>
                                                y esta es mi página web en la cual intento compartir lo poco que se.
                                                <!--articulos, tutoriales o cualquier otra ocurrencia que se me cruce por la cabeza.-->
                                            </p>
                                        
                                        
                                        <mat-card>
                                                <mat-card-header>
                                                        <div mat-card-avatar class="example-header-image"></div>
                                                        <mat-card-title>Jose Manuel Delgado Trueba</mat-card-title>
                                                        <mat-card-subtitle>Estudiante</mat-card-subtitle>
                                                </mat-card-header>
                                                <br>
                                                <button mat-button>LIKE</button>
                                        </mat-card>
                                     
                                    <p>
                                        Recientemente acabado el bachillerato y sin saber muy bien que era lo que quería aprender
                                        en los proximos años de mi vida,
                                        decidí estudiar <b>Ingeniría del Computadores</b>.
                                    </p>
                                    <p>    
                                        Lo único que había hecho antes en relación con la informática
                                        fue una pequeña página web para un trabajo en el instituto. 
                                       <b> Actualmente estoy muy orgulloso de haber elegido esta profesión</b>.
                                    </p>
                        </div>

                
                </div>
        
                <div class="columns">

                        <div class="stepper">

                                    <button mat-button 
                                            matTooltip=
                                            "Recientemente acabado el bachillerato decidí estudiar Ingeniría del Computadores,
                                            en la Escuela Técnica Superior de Ingeniería de Sistemas Informáticos de la UPM.
                                            "
                                            [matTooltipPosition]="'below'">
                                            <mat-icon>face</mat-icon>
                                            &nbsp;
                                            2015-2016 <br>Ingreso en la Universidad
                                    </button>

                                    <div class="linea"></div>

                                    <button mat-button 
                                            matTooltip=
                                            "
                                            Conforme iban pasando las asignaturas en mi carrera cada vez me fue llamando más
                                            la atención los contenidos relacionadas con el Software y acabe
                                            cambiándome a la titulación de Ingenería del Software.
                                            "
                                            [matTooltipPosition]="'below'">
                                            <mat-icon>explore</mat-icon>
                                            &nbsp;
                                            2016-2017 <br>Cambio de titulación: <br><b>Ingenería del Software</b>
                                    </button>

                                    <div class="linea"></div>
    
                                    <button mat-button 
                                            matTooltip=
                                            "En mi tercer año de carrera tuve la inquietud de salir de la universidad y conocer el mundo laboral.
                                             A través de una práctica extracurricular estuve 6 meses como becario en el área de Blockchain by Everis. 
                                             "
                                            [matTooltipPosition]="'below'">
                                            <mat-icon>business_center</mat-icon>
                                            &nbsp;
                                            2018 <br>Becario en <br> <b>Blockchain by Everis</b>
                                    </button>

                                    <div class="linea"></div>
    
                                    <button mat-button 
                                            matTooltip=
                                            ""
                                            [matTooltipPosition]="'below'">
                                            <mat-icon>g_translate</mat-icon>
                                            &nbsp;
                                            Próximos Retos:<br> Aprender Inglés
                                    </button>

                        </div>
                </div>
        </div>

    </div>

</div>