.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 85%;
}

.column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.columns{
    flex: 1 0 50%;
}

.subheader{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(251, 49, 78, 0.3);
}

p{
    font-size: 1.25em;
}

.intro{
    text-align: center;
}

mat-card{
    padding-top: 10px;
    padding-bottom: 2px;
}


a{
    text-decoration: none;
    color: #0374DD;
}

a:hover{
    border-bottom: 1px solid #0374DD;
}

.stepper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.linea{
    height:20px;
    border-right: solid 1px black;
    margin: auto;
}

button{
    max-width: 300px;
    margin: auto;
    line-height: 2.15 !important;
}


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

@media (max-width: 1015px){
    .columns{
        flex: 1 0 100%;
    }   
}

@media (max-width: 350px){  
       
    button{
        font-size:  0.65em;
    }
}

@media (max-width: 275px){  
       
    button{
        font-size:  0.55em;
    }
}

@media (max-width: 275px){  
       
    p{
        font-size:  0.8em;
    }
}
