.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 85%;
}

.column{
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}

.columns{
    flex: 1 0 50%;
    /*extra*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.subheader{
    font-size: 34px;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(251, 49, 78, 0.3);
}

.subheader2{
    font-size: 25px;
    color: #333;
    text-align: center;
    margin-bottom: 0px;
}

.texto{
    width: 55%;
}

p{
    font-size: 1.25em;
}

.intro{
    text-align: center;
}

mat-card{
    padding-top: 10px;
    padding-bottom: 2px;

    border: solid 1px #ccc;
}

mat-card-header{
    display: flex !important;
    align-items: flex-start !important;
    justify-content: center !important;


}


a{
    text-decoration: none;
    color: #0374DD;
}

a:hover{
    border-bottom: 1px solid #0374DD;
}

.stepper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.linea{
    height: 20px;
    border-right: solid 1px black;
    margin: auto;
}

button{
    max-width: 350px;
    line-height: 2.15 !important;
    margin-left: 1%;
    margin-right: 1%;
}


.example-header-image {
    background-image: url('/assets/img/foto.jpeg');
    background-size: 90px 90px;
    border: solid 1px #ccc;
  }

  .mat-card-avatar{
      width: 90px;
      height: 90px;
  }

  @media (max-width: 850px){
    .stepper{
        flex-direction: column;
    }  
    mat-card-header{
        display: flex !important;
        flex-wrap: wrap !important;
    }
}

@media (max-width: 1015px){
    .columns{
        flex: 1 0 100%;
    }   
}

@media (max-width: 350px){  
       
    button{
        font-size:  0.65em;
    }
}

@media (max-width: 275px){  
       
    button{
        font-size:  0.55em;
    }
}

@media (max-width: 275px){  
       
    p{
        font-size:  0.8em;
    }
}
