.container{
    display: flex;
    justify-content: center;
}

.frase{
    width: 85%;
    text-align: center;

    font-weight: normal;
}

.bold{
    font-size: 1.5em;
    color: rgba(251, 49, 78, 1);
}

@media (max-width: 220px){
    
    h2{
       font-size: 0.85em;
    }

    .bold{
        font-size: 1em;
    }
}