/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    flex-direction: column;

    margin: 0px;
    padding: 0px;
}

@media (max-width: 365px){      
    .mat-tooltip{
        width: 150px !important;
        font-size: 0.65em !important;
    }
}